.cuerpo__descripcion{
    width: 15rem;
    height: 18rem;    
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.2rem;
    border-radius: 2rem;
    outline: solid 0.7rem rgba(123, 207, 247, 0.3);
    
   /* border: 20px outset rgba(255, 255, 255, 0.3); 
    background-clip: padding-box;*/
}

.cuerpo__descripcion--img{
    width: 10rem;
    height: auto;
    margin: 0 auto;
}

.cuerpo__descripcion--p{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
}

@media screen and (max-width: 580px){
    .cuerpo__descripcion{
        display: flex;       
        width: 20rem;
        height: auto;
       flex-wrap: wrap;
    }

    .cuerpo__descripcion--img{
        width: 7rem;
        
    }

    .cuerpo__descripcion--p{
        font-size: 1.3;
        
        
    }
}
