.cuerpo{
    width: 940px;
    height: 30rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    
}

.cuerpo:last-child{
    margin-bottom: 0px;
}


@media screen and (max-width: 580px){
    .cuerpo{
        width: 100vw;
        
    }
}