.uno{
    background-image: url(../../IMG/fertilizantes.png);
    background-size: cover;
}

.descrip__1{
    align-self: center;
    margin-left: 55%;
}

@media screen and (max-width: 580px){
    .descrip__1{
        align-self: flex-end;
        margin: 0 0 1.2rem 0;
        
    }

    
}