.nav__li{
    margin: 0 1em;
    font-weight: bold;
   /* text-shadow: -1.5px -1.5px 1px #FEFFFE, 1.5px 1.5px 1px #FEFFFE, -1.5px 1.5px 1px #FEFFFE, 1.5px -1.5px 1px #FEFFFE;*/

}

.nav__li:hover{
	background: #CEF7CF;
    transform: scale(1.2);
}

