.nav__ul{
    display: flex;
    justify-content: flex-end;
    width: 940px;
    position: relative;
    margin: 0 auto;
    list-style: none;
}

@media screen and (max-width: 580px){
    .nav__ul{
        width: 100vw;
        justify-content: space-evenly;
    }

}