.footer__descripcion{
    width: 19rem;
    padding: 0.5rem;
}

.footer__descripcion h3{
    font-size: 2rem;
}
.footer__descripcion hr{
    border: none;
    height: 0.20rem;
    background-color: #000000;
}

.footer__descripcion p{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding-right:3rem;    
    line-height: 1.5;
}

.footer__descripcion p a{
    text-decoration: none;
}