main{
    display: flex;
    justify-content: center;
    width: 100vw;    
    position: relative;
    z-index: 1;
}

.padre-secccion{
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    background-color: #FEFE00;
    box-shadow: -10px 0px  15px  rgba(0, 0 , 0, 0.7), 10px 0px  15px  rgba(0, 0 , 0, 0.7);
    ;
}

@media screen and (max-width: 580px){
    .padre-secccion{
        width: 100vw;
    }
}